body{ background-color: hotpink
}

h1 { text-align: center;
      color: rgb(189, 46, 70);
      border-style: groove;
      border-color: pink;}
       
      h1{ text-align: center;
            color:rgb(161, 30, 52)
        } 
            #ima1{ margin-left: 70%;
            }
            